@tailwind base;
@tailwind components;
@tailwind utilities;

.confirm-modal.ant-modal {
  max-width: calc(100vw - 32px);

  .ant-modal-confirm-btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
